<a href="https://colab.research.google.com/github/nguyenminhhieu3004/hieu3004/blob/main/BT_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
S = pd.Series(np.random.randint(100,size = 10))
S

0    83
1    10
2    18
3    11
4    83
5    66
6    54
7     6
8    21
9    78
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
dict_1 = {'tên':'Hiếu', 'tuổi': 19, 'công việc': 'sinh viên', 'lương': '10 tỷ',}
D = pd.Series(dict_1)
D

tên               Hiếu
tuổi                19
công việc    sinh viên
lương            10 tỷ
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
S_id = []
for i in S.index:
    S_id.append(f'so thu {i}')
S_2 = pd.Series(S.values, index=S_id)
S_2

so thu 0    83
so thu 1    10
so thu 2    18
so thu 3    11
so thu 4    83
so thu 5    66
so thu 6    54
so thu 7     6
so thu 8    21
so thu 9    78
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
print(D[3])

10 tỷ

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
print(S_2['so thu 2'])

18

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [ ]:
#Lấy các số thứ (0-4)
S_2[[int(name[-1]) <4 for name in S_2.index]]

so thu 0    83
so thu 1    10
so thu 2    18
so thu 3    11
dtype: int64

Câu 7: Sử dụng chuỗi ở câu 1, hãy đổi chỉ mục cột tên thành 'STT' và đặt tên cho chuỗi là 'Gia_tri'. Trong màn hình kết quả

In [ ]:
S.index.name = 'STT'
S.name = 'Gia_tri'
S

STT
0    83
1    10
2    18
3    11
4    83
5    66
6    54
7     6
8    21
9    78
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng logarith hàm của gói numpy với chuỗi ở câu 1 và trong màn hình kết quả

In [ ]:
S_log = pd.Series([np.log(gt) for gt in S.values])
S_log.name = 'logarith'
S_log

0    4.418841
1    2.302585
2    2.890372
3    2.397895
4    4.418841
5    4.189655
6    3.988984
7    1.791759
8    3.044522
9    4.356709
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [ ]:
S[S>15]

STT
0    83
2    18
4    83
5    66
6    54
8    21
9    78
Name: Gia_tri, dtype: int64